body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}
#card{
    height: 400px;
    width: 300px;
    border-radius : 10px;
    background-color: white;
    padding: 15px;
    text-align: center;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;


}
#card h1{
    font-size: 25px;
    margin: 10px 0 5px;
    

}
#card h5{
    font-size: 5px 0 15px;
    color: red;
    margin: 20px;

}
#card button{
    /*
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  */
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin : 5px;
  background-color: cadetblue;
  color: white;
}
#card  #Remove {
background-color: rgba(255, 255, 255, 0.479);
border: 2px solid black;
color: black

}
