html, body{
    height: 100%;
    width: 100%;

}

body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color : white;
    overflow: hidden;
    position: relative;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#container i{
    color: white;
    font-size: 75px;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) ;  /* to center the icon */
    opacity: 0 ; /* make icon lighter or darker    */

}
#container i.pop{
    animation: popUpFade 900ms cubic-bezier(0.17, 0.89, 0.32, 1.27) forwards;
}
