#box {
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid rgb(19, 18, 18);
}

h1{
    font-size: 70px;
    background-color: lightseagreen;
    padding: 40px 50px;
    border-radius: 10px;
    font-family: monospace;
}
button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: cadetblue;
}